.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
}

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.hero-content h1 {
    font-size: 3rem;
    font-family: 'Quintessential', 'Arial', sans-serif;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    /* max-width: 600px; */
    margin-bottom: 2rem;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}


#chart {
    /* margin-top: -80px; */
    transition: transform 0.5s ease-in-out;
    max-width: 100%;
    height: auto;
}

#chart:hover {
    transform: rotate(360deg) scale(1.1);
    filter: hue-rotate(270deg) brightness(0.6);

}

.scroll-down {
    display: inline-block;
    margin-top: 1rem;
    padding: 10px 20px;
    font-size: 1rem;
    color: #FFD700;
    text-decoration: none;
    border: 2px solid #FFD700;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.scroll-down:hover {
    background-color: #FFD700;
    color: black;
}